<!DOCTYPE html>
	<html>
		<head>
		<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index,follow,noodp">
<meta name="googlebot" content="index,follow">
<title>{{ page.title }}</title>
<meta name="description" content="">
<meta name="url" content="http://rahulkapoor.me">
<meta name="coverage" content="Worldwide">
<meta name="rating" content="General">

<meta property="og:url" content="http://rahulkapoor.me">
<meta property="og:type" content="website">
<meta property="og:title" content="Rahul Kapoor (@rahulkapoor90)">
<meta property="og:image" content="http://rahulkapoor.me/images/facebook_og.png">
<meta property="og:description" content="Hi, my name is Rahul Kapoor a senior undergrad at VIT University, Vellore, India and this is my silly personal website.">
<meta property="og:site_name" content="Rahul Kapoor (@rahulkapoor90)">
<meta property="og:locale" content="en_US">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@iamrahulkapoor">
<meta name="twitter:creator" content="@iamrahulkapoor">
<meta name="twitter:url" content="http://rahulkapoor.me">
<meta name="twitter:title" content="Rahul Kapoor (@rahulkapoor90)">
<meta name="twitter:description" content="Hi, my name is Rahul Kapoor a senior undergrad at VIT University, Vellore, India and this is my silly personal website.">
<meta name="twitter:image" content="http://rahulkapoor.me/images/facebook_og.png">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Rahul Kapoor">
<meta name="theme-color" content="#E64545">
<meta name="mobile-web-app-capable" content="yes">
<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="/stylesheets/normalize.css">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
			<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
		</head>
		<body>
		<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

			  
  <div class="box">
    <a href="/" id="nav_link"><div class="box-sm red">HOME</div></a>
            <a href="/about" id="nav_link"><div class="box-sm orange">ABOUT</div></a>
    <a href="https://github.com/rahulkapoor90" id="nav_link" target="_blank"><div class="box-sm yellow ">PROJECTS</div></a>
    <a href="/blog" id="nav_link"><div class="box-sm green ">BLOG</div></a>
<a href="/contact" id="nav_link"><div class="box-sm blue ">CONTACT</div></a>
    <a href="" id="nav_link"><div class="box-sm purple">DD</div></a>
        </div>
			<div id="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>