<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		</head>
		<body>
			  <div class="box">
    <a href="rahulkapoor.me"><div class="box-sm red">Home</div></a>
            <div class="box-sm orange"></div>
            <div class="box-sm yellow "></div>
    <div class="box-sm green "></div>
    <div class="box-sm blue "></div>
    <div class="box-sm purple"></div>
        </div>
</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rahulkapoorbbps@outlook.com">email</a></li>
	        		<li><a href="https://github.com/rahulkapoor90">github.com/rahulkapoor90</a></li>
				</ul>
			</footer>
		</body>
	</html>